# Pwd and Env
*.env
pwd.json

# Venv
venv

# my_settings/*

staticfiles
data/*
*.vscode
*.ipynb
*.log
*.pyc
__pycache__

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
#.ebextensions/02_packages.config

