{% extends "order/layout.html" %}
{% load staticfiles %}


{% block scripts_top %}
{% endblock %}


{% block styles %}
<style>
</style>
{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<h4>帳號管理(管理員)</h4>
<ul>
    <li>
        <a href="{% url 'order:backend_friend_list' %}">好友清單</a>
    </li>
</ul>

<h4>調貨(管理員)</h4>
<ul>
    <li>
        <a href="{% url 'order:backend_bento_transfer' add_days=1 %}">調貨（明）</a>
    </li>
</ul>

<h4>出貨(管理員)</h4>
<ul>
    <li>
        <a href="{% url 'order:backend_daily_ouput_stats' add_days=0 %}">出貨統計(今)</a>
    </li>
    <li>
        <a href="{% url 'order:backend_daily_ouput_stats' add_days=1 %}">出貨統計(明)</a>
    </li>
    <li>
        <a href="{% url 'order:backend_daily_ouput_stats' add_days=2 %}">出貨統計(後)</a>
    </li>
    <li>
        <a href="{% url 'order:backend_weekly_ouput_stats' week=0 %}">出貨統計(本週)</a>
    </li>
    <li>
        <a href="{% url 'order:backend_weekly_ouput_stats' week=1 %}">出貨統計(下週)</a>
    </li>
</ul>

<h4>確認收貨(員工)</h4>
<ul>
    {% for area in areas %}
    <li>
        <a href="{% url 'order:backend_daily_output_order' area_id=area.id %}">{{ area.area }}收貨統計</a>
    </li>
    {% endfor %}
</ul>
    

{% endblock %}
{% block scripts %}
<script>
</script>
{% endblock %}
