{% extends "order/layout.html" %}
{% load staticfiles %}


{% block scripts_top %}
{% endblock %}


{% block styles %}
<style>
    #searchInput{
        max-width: 300px;
    }
    
    h5{
        margin-left: 30px;
    }
    table{
        margin-left: 50px;
    }
</style>
{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<h4>出貨統計</h4>



<div class="row">
{% for os in order_stats %}
    <h5>{{ os.distribution_place }}</h5>
    <table class="table statsTable">
        <thead>
            <tr>
                <th>類別</th>
                <th>便當</th>
                <th>已領</th>
                <th>未領</th>
                <th>現場</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in os.order_stat %}
            <tr>
                <td>{{ stat.bento_type }}</td>
                <td>{{ stat.bento_name }}</td>
                <td>{{ stat.received }}</td>
                <td>{{ stat.unreceived }}</td>
                <td>{{ stat.remain }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endfor %}


</div>


<h4>出貨清單</h4>
<div class="row form-group">
    <label for="searchInput" class="col-sm-1 col-form-label">檢索</label>
    <div class="col-sm-11">
        <input type="text" class="form-control" id="searchInput" placeholder="電話後三碼">
    </div>
</div>
<div class="row">
    <table id="orderList" class="table">
        <thead>
            <tr>
                <th hidden="hidden">order_id</th>
                <th hidden="hidden">line_id</th>
                <th>Line名稱</th>
                <th>手機</th>
                <th hidden="hidden">phone_last3</th>
                <th>地點</th>
                <th>便當</th>
                <th>個數</th>
                <th>價格</th>
                <th>狀態</th>
            </tr>
        </thead>
        <tbody>
            {% for order in order_list %}
            <tr>
                <td hidden="hidden">{{ order.order_id }}</td>
                <td hidden="hidden">{{ order.line_id }}</td>
                <td>{{ order.line_name }}</td>
                <td>{{ order.phone }}</td>
                <td hidden="hidden">{{ order.phone_last3 }}</td>
                <td>{{ order.distribution_place }}</td>
                <td>{{ order.bento_name }}</td>
                <td>{{ order.number }}</td>
                <td>{{ order.price }}</td>
                {% if not order.received %}
                <td><input class='btn btn-success receiveBtn' type='button' value='領取'/></td>
                {% else %}
                <td>已領取</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
{% block scripts %}
<script>
    $(".receiveBtn").click(function(){
        order_id = $(this).parents('tr').eq(0).find('td').eq(0).text()
        order_number = $(this).parents('tr').eq(0).find('td').eq(7).text()
        distribution_place = $(this).parents('tr').eq(0).find('td').eq(5).text()
        bento = $(this).parents('tr').eq(0).find('td').eq(6).text()
        
        current_td = $(this).parents('td').eq(0)
        $(".statsTable").each(function(){
            if ($(this).prev().text() == distribution_place){
                $(this).find("tbody tr").each(function(){
                    if($(this).find("td").eq(1).text()==bento){
                        //TODO deal with share the same limitation
                        target_tr =$(this)
                        target_tr.find("td").eq(2).text((Number(target_tr.find("td").eq(2).text()) + Number(order_number)).toString())
                        target_tr.find("td").eq(3).text((Number(target_tr.find("td").eq(3).text()) - Number(order_number)).toString())
                    }
                })
                //$(this).find('td').eq(3).text(Number($(this).find('td').eq(3).text())+Number(order_number))
                //$(this).find('td').eq(4).text(Number($(this).find('td').eq(4).text())-Number(order_number))
            }
        })
//        $.ajax({
//            type: 'GET',
//            url: '/order/beckend_receive_order/' + order_id.toString() + '/',
//            dataType: 'json',
//            error: function(xhr) {
//                alert('發生錯誤');
//            },
//            success: function (data) {
//                current_td.html("已領取")
//                $(".statsTable").each(function(){
//                    
//                    if ($(this).find('td').eq(1).text() == distribution_place){
//                        $(this).find('td').eq(3).text(Number($(this).find('td').eq(3).text())+Number(order_number))
//                        $(this).find('td').eq(4).text(Number($(this).find('td').eq(4).text())-Number(order_number))
//                    }
//                })
//            }
//        });
    })

    var $rows = $('#orderList tbody tr');
    $("#searchInput").keyup(function(){
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    
        $rows.show().filter(function() {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    })
</script>
{% endblock %}
