{% extends "order/layout.html" %}
{% load staticfiles %}


{% block scripts_top %}
{% endblock %}


{% block styles %}
<style>
    h5{
        margin-left: 30px;
    }
    table{
        margin-left: 50px;
    }
</style>
{% endblock %}

{% block content %}
<h2>{{ title }}</h2>


{% for area_orders in order_list_groupped_table%}
<h4>{{ area_orders.area }}</h4>
<div class="row">
    {% for dpo in area_orders.distribution_place_order %}
    <h5>{{ dpo.distribution_place }}</h5>
    <table  class="table">
        <thead>
            <tr>
                <th width = "150px">類型</th>
                <th width = "150px">便當</th>
                <th width = "30px">已訂</th>
                <th width = "30px">現場</th>
                <th width = "30px">總共</th>
            </tr>
        </thead>
        <tbody>
        {% for ol in dpo.order_list %}
        <tr>
            <td>{{ ol.bento_name }}</td>
            <td>{{ ol.bento_type }}</td>
            <td>{{ ol.number }}</td>
            <td>{{ ol.remain }}</td>
            <td>{{ ol.limitation }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>
{% endfor %}







{% endblock %}
{% block scripts %}
<script>
</script>
{% endblock %}
