{% extends "order/layout.html" %}
{% load staticfiles %}


{% block scripts_top %}
{% endblock %}


{% block styles %}
<style>
    .card-title {
        font-size: 18px;
    }
    .card-text {
        margin-top:2px;
        margin-bottom:2px;
    }
    #priceTotalLabel font {
        color:red;
    }
    #priceTotalLabel {
        font-size:20px;
    }
    #area_distribution_dropdown_div {
        margin-bottom: 15px;
    }
</style>
{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<h4>學校--取餐地點</h4>
<div class="dropdown" id='area_distribution_dropdown_div'>
    <button class="btn btn-outline-secondary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ selected_adp_option_text }}
    </button>
    <div class="dropdown-menu  col-lg-12" aria-labelledby="dropdownMenuButton">
        {% for adp in apds %}
            {% if adp.selected %}
            <a class="dropdown-item active" href="{% url 'order:order_create' area_id=adp.area_id distribution_place_id=adp.distribution_place_id %}">{{ adp.option_text }}</a>
            {% else %}
            <a class="dropdown-item" href="{% url 'order:order_create' area_id=adp.area_id distribution_place_id=adp.distribution_place_id %}">{{ adp.option_text }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>



<h4>飯盒</h4>
<div class="row text-center">
    {% for bento in available_bentos %}
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="{{ bento.photo }}" alt="">
            <div class="card-body">
                <h4 class="card-title bentoNameH4"><strong>{{ bento.name }}(剩餘{{ bento.remain }}個)</strong></h4>
                <p class="card-text dateTypeP">{{ bento.date }} {{ bento.bento_type }}</p>
                <p class="card-text">{{ bento.cuisine }}</p>
            </div>
            <div class="card-footer">
                <div class="form-group row">
                    <label for="numberInput{{ bento.id }}" class="col-5 col-form-label priceLabel">{{ bento.price }}元</label>
                    <div class="col-5">
                        <select class="form-control numberInput">
                            {% for i in bento.select_range %}
                                <option>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label  class="col-2 col-form-label">個</label>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<h4>結帳</h4>
<div id="summaryTableDiv" class="row text-center">
    <table class="table" id="summaryTable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">日期</th>
                <th scope="col">飯盒</th>
                <th scope="col">單價</th>
                <th scope="col">個數</th>
                <th scope="col">小計</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            </tr> -->
        </tbody>
    </table>
</div>
<p align="right" id="priceTotalLabel">總計<font>0</font>元<p/>


<div class="row">
    <!-- <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
            <input type="checkbox" aria-label="Checkbox for following text input">
            </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with checkbox" disabled="disabled" value="同意小農要求您的email以便訂單確認。Agree xiaonon to request your email to confirm the order.">
    </div> -->
    <div class="input-group mb-3">
        <button id="submitBtn" type="button" class="btn btn-outline-secondary">提交訂單</button>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>

    $(".numberInput").change(function(){
        $("#summaryTable tbody").empty()
        subtotals = []
        rowCounts = 0
        $(".card").each(function(){
            date = $(this).find(".dateTypeP").text().split(" ")[0]
            name = $(this).find(".bentoNameH4").text().split("(")[0]
            number = $(this).find(".numberInput").val()
            price = $(this).find(".priceLabel").text().replace("元", "")
            subtotal = (Number(number)*Number(price)).toString()

            if(number != "" && number != '0'){
                rowCounts += 1
                tr = $("<tr>")
                idx_td = $("<td>").attr("scope", 'row').text(rowCounts)
                date_td = $("<td>").text(date)
                name_td = $("<td>").text(name)
                price_td = $("<td>").text(price)
                number_td = $("<td>").text(number)
                subtotal_td = $("<td>").text(subtotal)
                tr.append(idx_td).append(date_td).append(name_td).append(price_td).append(number_td).append(subtotal_td)
                $("#summaryTable tbody").append(tr)
                subtotals.push(subtotal)
            }
        })

        sumOfSubtotals = 0
        $(subtotals).each(function(i,v){
            sumOfSubtotals += Number(v)
        })
        $("#priceTotalLabel font").text(sumOfSubtotals.toString())
    })

    $("#submitBtn").click(function(){
        $.ajax({
            type: 'POST',
            url: '/order/order_create/',
            data: {
              'username': "username",
              'password': "password"
            },
            dataType: 'json',
            success: function (data) {
                alert('訂購成功!')
                console.log(data)
                console.log("success")
            }
          });
    })

</script>

{% endblock %}
